extends layout

block content
  h1 Campus Nub
  p.lead Your personal guide around campus.
  hr
  .row
    .col-sm-6
      h2 Step-by-Step
      p No more getting lost between lecture halls and labs! Step-by-step directions show you the way through Campus Nub’s map feature.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Student Buddy System
      p It’s lonely out there. Through the Traitify API, Campus Nub matches students based on personality fit, career interests, and research interests.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Professor Compatibility Assessment
      p Campus Nub not only suggests students who work well together, but also matches up professors who will act as meaningful mentors for academic research.
      p
        a.btn.btn-default(href='#', role='button') View details »

